# Database (used by docker-compose & Prisma)
POSTGRES_USER=devportfolio
POSTGRES_PASSWORD=devportfolio_pass
POSTGRES_DB=devportfolio
POSTGRES_PORT=5432
DATABASE_URL="postgresql://devportfolio:devportfolio_pass@localhost:5432/devportfolio"

# NextAuth v5 — GitHub OAuth
# Get these from: https://github.com/settings/developers
AUTH_GITHUB_ID="your_id"
AUTH_GITHUB_SECRET="your_github_secret"

# NextAuth
AUTH_SECRET="your_auth_secret"

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000"
